<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: copy"></head>
<body>

<!-- header -->
<div th:replace="fragments/header :: copy"></div>

<div class="container">
    <p></p>
    <div class="panel panel-default">
        <div class="panel-heading"><b>Create Post</b></div>
        <div class="panel-body">
            <form style="margin:10px;" th:action="@{/post_product}" th:object="${product}" method="POST">
                <input type="hidden" th:field="*{id}" />
                <div class="form-group row">
                    <label for="PostingTitle" class="col-2 col-form-label">Post Title</label>
                    <div class="col-10">
                        <input class="form-control" type="text" name="PostingTitle" value="" tabindex="1" id="PostingTitle" th:field="*{productName}" maxlength="70" placeholder="Posting title" th:required="required">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Location" class="col-2 col-form-label">Location</label>
                    <div class="col-10">
                        <input class="form-control" type="text" name="location" value="" tabindex="1" id="Location" maxlength="80" placeholder="Location" th:field="*{location}" th:required="required">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="zipCode" class="col-2 col-form-label">Zip Code</label>
                    <div class="col-10">
                        <input class="form-control" type="text" name="zipCode" value="" tabindex="1" id="zipCode" maxlength="15" placeholder="Zip code" th:field="*{zipCode}" th:required="required">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="category" class="col-2 col-form-label">Category</label>
                    <div class="col-10">
                        <select class="selectpicker" th:field="*{category}" id="category">
                            <option th:each="category : ${T(com.mediabox.rentalshare.category.BaseCategory).values()}" th:value="${category.id}" th:text="${category.name}" />
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="PostingBody" class="col-2 col-form-label">Description</label>
                    <div class="col-10">
                        <textarea class="form-control" name="PostingBody" placeholder="" tabindex="1" id="PostingBody" th:field="*{productDescription}" rows="10" th:required="required" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-10">
                        <input type="submit" value="Submit" class="btn btn-lg btn-primary" />
                        <a href="/product_list" class="btn btn-lg btn-default">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</form>

<!--==========Footer area==========-->
<footer th:replace="fragments/footer :: copy"></footer>
<!--==========End Footer area==========-->


<div th:replace="fragments/js :: copy"></div>
</body>
</html>