<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: copy"></head>
<body>


<!-- line modal -->
<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">My Modal</h3>
            </div>
            <form th:action="@{/add_price}" th:object="${price}" method="POST">
                <input type="hidden" th:value="${product.id}" name="productId" />
                <div class="modal-body">
                <!-- content goes here -->
                    <div class="form-group">
                        <label for="periodType">Period Type</label>
                        <select class="selectpicker" id="periodType" th:field="*{periodType}">
                            <option th:value="1">cat1</option>
                            <option th:value="2">cat2</option>
                            <option th:value="3">cat3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Price (USD)</label>
                        <input type="number" class="form-control" id="exampleInputPassword1" th:field="*{unitPrice}" placeholder="Password">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
                        </div>
                        <div class="btn-group" role="group">
                            <input type="submit" value="Submit"  class="btn btn-default btn-hover-green" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- header -->
<div th:replace="fragments/header :: copy"></div>

<form th:action="@{/edit_product}" th:object="${product}" method="POST">
<input type="hidden" th:field="*{id}" />
<div class="container">
    <div class="row">
        <div class="col-md-3">
            posting title
            <input type="text" name="PostingTitle" value="" tabindex="1" id="PostingTitle" th:field="*{productName}" maxlength="70">
        </div>
        <div class="col-md-3">
            specific location
            <input type="text" name="GeographicArea" value="" tabindex="1" id="GeographicArea" maxlength="80">
        </div>
        <div class="col-md-3">
            postal code
            <input type="text" name="postal" value="" tabindex="1" id="postal_code" maxlength="15">
        </div>
        <div class="col-md-3">
            category
            <select class="selectpicker" th:field="*{category}">
                <option th:value="1">cat1</option>
                <option th:value="2">cat2</option>
                <option th:value="3">cat3</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            posting body
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <textarea name="PostingBody" placeholder="" tabindex="1" id="PostingBody" th:field="*{productDescription}" rows="10"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input type="submit" value="Submit" class="btn btn-lg btn-primary" />
        </div>
    </div>
</div>





</form>

<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Manage</th>
            <th scope="col">Price</th>
            <th scope="col">Period Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="price : ${priceList}">
            <td th:text="${price.id}"></td>
            <td>
                <a th:href="@{'/delete_price/' + ${price.id}}">delete</a>
            </td>
            <td th:text="${price.unitPrice}"></td>
            <td th:text="${price.periodType}"></td>
        </tr>
        </tbody>
    </table>
</div>

<form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="hidden" th:value="${product.id}" name="productId" />
    <input type="file" name="file" /><br/><br/>
    <input type="submit" value="Submit" />
</form>


<div class="center"><button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block">Click Me</button></div>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>





<!--==========Footer area==========-->
<footer th:replace="fragments/footer :: copy"></footer>
<!--==========End Footer area==========-->


<div th:replace="fragments/js :: copy"></div>


</body>
</html>