<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: copy"></head>

<body>

<!-- header -->
<div th:replace="fragments/header :: copy"></div>


<div class="container">
    <form th:action="@{/edit_product}" th:object="${product}" method="POST">
        <input type="hidden" th:field="*{id}" />
        <div class="form-group row">
            <div class="col-md-4" th:each="productImage, i : ${productImageList}">
                <div class="thumbnail">
                    <img th:src="${productImage.imagePath}" alt="" style="width:100%">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="PostingTitle" class="col-2 col-form-label">Post Title</label>
            <div class="col-10">
                <span id="PostingTitle" th:text="*{productName}" />
            </div>
        </div>
        <div class="form-group row">
            <label for="Location" class="col-2 col-form-label">Location</label>
            <div class="col-10">
                <span name="Location" tabindex="1" id="Location" th:text="*{location}" />
            </div>
        </div>
        <div class="form-group row">
            <label for="postal_code" class="col-2 col-form-label">Postal Code</label>
            <div class="col-10">
                <span name="postal" id="postal_code" th:text="*{zipCode}" />
            </div>
        </div>
        <div class="form-group row">
            <label for="category" class="col-2 col-form-label">Category</label>
            <div class="col-10">
                <span th:field="*{category}" id="category" />
            </div>
        </div>
        <div class="form-group row">
            <label for="PostingBody" class="col-2 col-form-label">Telephone</label>
            <div class="col-10">
                <span name="PostingBody" id="PostingBody" th:text="*{productDescription}" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-10">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Price</th>
                        <th scope="col">Period Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="price : ${priceList}">
                        <td th:text="${price.id}"></td>
                        <td th:text="${price.unitPrice}"></td>
                        <td th:text="${price.periodType}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
    <form th:action="@{/rent_product}" method="POST">
        <div class="form-group row">
            <div class="col-10">
                <div style="overflow:hidden;">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8">
                                <div id="datetimepicker12"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" th:value="${product.id}" name="productId" />
                <input type="hidden" name="startDate" id="startDate">
                <input type="submit" value="Submit" class="btn btn-lg btn-primary" />
            </div>
        </div>
    </form>
</div>






<!--==========Footer area==========-->
<footer th:replace="fragments/footer :: copy"></footer>
<!--==========End Footer area==========-->

<div th:replace="fragments/js :: copy"></div>

<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var disabledDateList = /*[[${disabledDateList}]]*/ "default";
    /*]]>*/
</script>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker12').datetimepicker({
            inline: true,
            sideBySide: true,
            format: 'L',
            disabledDates: disabledDateList
        }).on("dp.change", function (e) {
            $('#startDate').val(e.date.format());
        });
    });
</script>

</body>
</html>