<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<footer th:fragment="copy" class="footer_area">
    <div class="main_footer">
        <div class="container custome_container">
            <div class="row widget_inner">
                <div class="col-md-3">
                    <div class="f_service_widget">
                        <div class="f_widget_tittle">
                            <h3>Customer Service</h3>
                        </div>
                        <p>
                            Customer Service <br class="break" />
                            Transaction Service Agreement <br class="break" />
                            Take Our Survey <br class="break" />
                            Organization & Technical Support
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="f_newsletter_widget">
                        <div class="f_widget_tittle">
                            <h3>Subscribe to our Newsletter</h3>
                        </div>
                        <input type="email" placeholder="Enter Email Address">
                        <a class="f_subs_btn" href="#">Subscribe Now</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="f_buy_widget">
                        <div class="f_widget_tittle">
                            <h3>How to Buy/Rent</h3>
                        </div>
                        <ul>
                            <li><a href="#">Create an Account</a></li>
                            <li><a href="#">Delivery Options</a></li>
                            <li><a href="#">Making Payments</a></li>
                            <li><a href="#">Order Protection</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="f_promotion_widget">
                        <div class="f_widget_tittle">
                            <h3>Partner Promotion</h3>
                        </div>
                        <ul>
                            <li><a href="#">Partnerships</a></li>
                            <li><a href="#">Affiliate Program</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer_business_card">
                <div class="card_image row">
                    <img src="/img/card/card.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="copyright_footer">
        <h4>Copyright &copy; 2018.Mediabox All rights reserved.</h4>
    </div>
</footer>

</body>

</html>