<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: copy"></head>
<body>

<!-- header -->
<div th:replace="~{fragments/header :: copy}"></div>

<!-- Body -->
<section class="row m0 get_touch_area">
    <div class="container">
        <div class="row section_title">
            <h3>Contact Us</h3>
        </div>

        <div class="row drop_message">
            <h3>Thanks for contacting us. We will return back to you shortly.</h3>
        </div>
        <div class="row">
            <h3><a href="/">Return back to Home Page</a></h3>
        </div>
    </div>
</section>
<!-- End Body -->

<!-- Footer -->
<footer th:replace="~{fragments/footer :: copy}"></footer>
<!-- End Footer -->

<div th:replace="~{fragments/js :: copy}"></div>

</body>
</html>