<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: copy"></head>
<body>

<!-- header -->
<div th:replace="fragments/header :: copy"></div>

<!--==========Product categories view==========-->
<section class="product_categori_list">
    <div class="container custome_container">
        <div class="men_clothing">
            <div class="men_clothing_heading" style="height:59px;">
                <a class="men_cl" href="#" style="height:59px;"><i class="lnr lnr-user"></i>Text Books</a>
                <nav style="width:826px"></nav>
                <a class="all_categories" href="/browse_product?category=1" style="height:58px;">All Text Books<i class="lnr lnr-arrow-right"></i></a>
            </div>
            <div class="row">
                <div th:each="textBook : ${topTextBookList}" class="col-md-3 col-xs-6">
                    <div class="re_product_inner">
                        <a th:href="'/view_product/' + ${textBook.id}">
                            <img th:src="${topTextBookImageMap.get(textBook.id).size()!=0 ? topTextBookImageMap.get(textBook.id)[0].imagePath : 'img/no-image-available.jpg'}" style="height:300px;" alt="">
                            <div class="re_product_price">
                                <h4 th:text="${textBook.productName}"></h4>
                                <br />
                                <h4 th:each="price : ${topTextBookPriceMap.get(textBook.id)}">
                                    <span th:text="${T(com.mediabox.rentalshare.model.PeriodType).getTextByValue(price.periodType)}" /> :
                                    <span th:text="'$'+ ${price.unitPrice}" />
                                </h4>
                                <h4 th:text="${topTextBookPriceMap.get(textBook.id).size()==0 ? 'N/A' : ''}"></h4>
                                <div class="re_product_checkout">
                                    <a href="#"><i class="lnr lnr-cart"></i></a>
                                    <a href="#"><i class="lnr lnr-heart"></i></a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--==========End Product categories view==========-->

<!--==========Home Feature area==========-->
<section class="home_product_feature">
    <div class="container custome_container">
        <div class="home_feature_inner row m0">
            <div class="col-md-3">
                <div class="row">
                    <div class="home_feature_inner_content">
                        <img src="img/icon/home-feature-icon-1.png" alt="">
                        <h4>Quick Delivary</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="home_feature_inner_content">
                        <img src="img/icon/home-feature-icon-2.png" alt="">
                        <h4>24/7 Help Center</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="home_feature_inner_content">
                        <img src="img/icon/home-feature-icon-3.png" alt="">
                        <h4>Safe Payment</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="home_feature_inner_content">
                        <img src="img/icon/home-feature-icon-4.png" alt="">
                        <h4>Worldwide Delivary</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--==========End Home Feature area==========-->

<!--==========Footer area==========-->
<footer th:replace="fragments/footer :: copy"></footer>
<!--==========End Footer area==========-->


<div th:replace="fragments/js :: copy"></div>
</body>
</html>